/* HEADER */

#header-text-50ans {
    color: white;
    font-size: 23px;
    border-bottom: 3px solid #217b8a;
    margin-bottom: 25px;
}

.text-header {
	color: white;
    font-size: 40px;
    line-height: 40px;
}

/* PROGRAMME */

#sousTitreProgramme {
	font-size: 12px;
	color: #9a9a9a;
}

.programme-content {
	margin-top: 50px;
}

#programme h3 .fas {
	color: #217b8a;
	font-size: 40px;
}


/* FORMULAIRE */

#signup-info {
	font-size: 12px;
	margin-bottom: 50px;
}

.form-title {
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.invalid-email{
	color: indianred;
}

.text-demi-transp{
	opacity:0.5;
}

.required {
	color: red;
}

p.errormsg {
	margin-bottom: 0;
}

.inputLine {
	margin-bottom: 20px;
}

#signup label {
	display: initial;
}

.radiogroup label {
    margin-right: 24px;
}

.btn-primary:disabled {
    background-color: grey !important;
}

@media screen and (max-width: 640px) {
  	#signup label {
    	display: block;
	}
}
