<!DOCTYPE html>
<html ng-app="app">
    <body id="evenementPage" data-spy="scroll" data-target=".navbar" data-offset="50">

        <div class="container-fluid" >
            <h1><span class="glyphicon glyphicon-plus"></span> S'inscrire</h1>
        </div>

		<form name="registerForm" novalidate="true">
			<div class="container" ng-class="{ 'has-error' : registerForm.name.$invalid && !registerForm.name.$pristine }">

				 <div class="box-field col-sm-6" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
					<label>Nom</label>
					<input type="text" name="name" class="form-control" id="nom" ng-model="nom" ng-required="true" >
					<div ng-messages="registerForm.name.$error">
						<p ng-message="required">Votre nom est obligatoire</p>
					</div>
				</div>
				<div class="box-field col-sm-6">
					<label for="prenom">Prénom</label>
					<input type="text" name="prenom" class="form-control" id="prenom" ng-model="prenom" ng-required="true" >
					<div ng-messages="registerForm.prenom.$error">
						<p ng-message="required">Votre prénom est obligatoire</p>
						<p ng-message="email">Adresse e-mail non valdie</p>
					</div>
				</div>

				<div class="box-field col-sm-12">
					<label><br>Adresse mail<br></label>
					<input type="email" name="email" class="form-control" id="mail" ng-model="mail" ng-required="true" >
					<div ng-messages="registerForm.email.$error">
						<p ng-message="required">Votre e-mail est obligatoire</p>
					</div>
				</div>
        <br>
        <div>
          <label>
            <input type="radio" ng-model="type" value="Etudiant" ng-required="!type" ng-change="modifType()">
            Etudiant
          </label>
          <label>
            <input type="radio" ng-model="type" value="Diplomes" ng-required="!type" ng-change="modifType()">
              Diplômé
          </label>
          <label>
            <input type="radio" ng-model="type" value="Autre" ng-required="!type" ng-change="modifType()">
              Autre
          </label>
        </div>
        <div class="container" ng-show="showNomEntreprise">
          <div class="row">
            <div class="col-md-2">
               <span class="badge badge-default">Entreprise</span>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="entreprise" ng-model="entreprise">
            </div>
          </div>
        </div>
        <div class="container" ng-show="showAnneeDiplome">
          <div class="row">
            <div class="col-md-2">
               <span class="badge badge-default">Promotion</span>
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="promotion" ng-model="promotion" ng-change="modifAnneeDiplome()">
            </div>
          </div>
        </div>
				<div class="container" ng-show="showNomAccomp" ></br>
					<div class="form-group">
						<div ng-if="nbAccomp < 4">
							<button ng-click="addAccompagnant()" class="btn btn-info">Ajouter un accompagnant</button>
						</div>
					</div>
					<div class="container-fluid" ng-repeat="formfield in formData.dynamicFields">
						<div class="row">
							<div class="col-md-12">
								 <span class="badge badge-default">{{formfield.name}}</span>  
                <div class="row">
                  <br/>
									<div class="col-md-2">
										 <span class="badge badge-default">Nom</span>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" name="formfield.val" ng-model="formfield.nom">
									</div>

									<div class="col-md-2">
										 <span class="badge badge-default">Prénom</span>
									</div>
									<div class="col-md-4">
										<input type="text" class="form-control" name="formfield.val" ng-model="formfield.prenom">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        <div class="container">
          <input type="checkbox" ng-required="true" id="CGU" name="CGU" ng-model="CGU"> En cochant cette case, vous acceptez la collecte de vos informations personnelles et l'utilisation dans le cadre d'invitation aux prochains événements organisés par la MIAGe.
          <div ng-messages="registerForm.CGU.$error">
					</div>
        </div>
				<button type="button" class="btn pull-right" ng-disabled="registerForm.$invalid" ng-click="addNewInvite(formData)">S'inscrire</button>
			</div>
		</form>
    </body>
</html>
